<h1 align='center'> RAIO - Classification</h1>

__Will the months expenditure go up or down?__

In [1]:
import warnings
warnings.simplefilter('ignore')

In [2]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier

## Import Data

In [3]:
orthoFxData = pd.read_csv('../db/threedaydata.csv')
orthoFxData

   Month        Total Change
0    Jan  136741.7116     UP
1    Feb  675863.7912   DOWN
2    Mar  171708.6389     UP
3    Apr  230999.8559     UP
4    May  687709.3271   DOWN
5    Jun  124768.4386     UP
6    Jul  136704.0090     UP
7    Aug  598937.0082   DOWN
8    Sep  138321.4019     UP
9    Oct  146052.4731     UP
10   Nov  550665.2489   DOWN
11   Dec  125048.6372     UP
12   Jan  158579.3482     UP
13   Feb  783799.1662   DOWN
14   Mar  199130.4901     UP
15   Apr  267890.5081     UP
16   May  797536.4329   DOWN
17   Jun  144693.9449     UP
18   Jul  158535.6246     UP
19   Aug  694587.1842   DOWN
20   Sep  160411.3149     UP
21   Oct  169377.0374     UP
22   Nov  638606.4301   DOWN
23   Dec  145018.8911     UP
24   Jan  146561.3200     UP
25   Feb  724398.4900   DOWN
26   Mar  184039.2700     UP
27   Apr  247588.2700     UP
28   May  737094.6700   DOWN
29   Jun  133728.2300     UP
30   Jul  146520.9100     UP
31   Aug  641947.4900   DOWN
32   Sep  148254.4500     UP
33   Oct  156540.7000     UP
34   Nov  590209.2700   DOWN
35   Dec  134028.5500   DOWN

## Convert Month & Change to Binary

In [4]:
X = pd.get_dummies(orthoFxData[['Month']])
y = orthoFxData['Change'].values.reshape(-1,1)
print(X.shape, y.shape)

(36, 12) (36, 1)

In [5]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [6]:
X_train.shape, y_train.shape, X_test.shape, y_test.shape

((27, 12), (27, 1), (9, 12), (9, 1))

## Create Class Instance of Logistic Regression Model

In [7]:
# Create a logistic regression model
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

## Fit Data to Model

In [8]:
# Fit the model to the data
classifier.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [ ]:
classifier.score()

In [9]:
print(f"Training Data Score: {classifier.score(X_train, y_train)}")

Training Data Score: 1.0
Testing Data Score: 0.8888888888888888

## Score the Predictions

In [ ]:
print(f"Testing Data Score: {classifier.score(X_test, y_test)}")

In [16]:
X_test.Month_Apr

35    0
13    0
26    0
30    0
16    0
31    0
21    0
12    0
8     0
Name: Month_Apr, dtype: uint8

In [31]:
X_test.Month_Apr.shape

(9,)

## Make Predictions

In [18]:
predictions = classifier.predict(X_test).reshape(-1,1)

df=pd.DataFrame({"Predicted Labels": [predictions], "Actual Labels": [y_test]})
df

,Predicted Labels,Actual Labels
0,"[[UP], [DOWN], [UP], [UP], [DOWN], [DOWN], [UP...","[[DOWN], [DOWN], [UP], [UP], [DOWN], [DOWN], [..."

# CONFUSION MATRIX

In [33]:
from sklearn.metrics import confusion_matrix

true_negatives, false_positives, false_negatives, true_positives = confusion_matrix(y_test, predictions).ravel()
print(f"Confusion Matrix:\n\tTrue Negatives: {true_negatives:3d}   False Positives: {false_positives:3d}")
print(f"\tFalse Negatives: {false_negatives:3d}   True Positives: {true_positives:3d}")

Confusion Matrix:
	True Negatives:   3   False Positives:   1
	False Negatives:   0   True Positives:   5